@font-face {
    font-family: myDigitalFont;
    src: url(./font/digital-7\ \(mono\ italic\).ttf);
}


@keyframes fanRotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
/* 
#fan_ahu6,
#fan_ahu9,
#fan_ahu10,
#ahu6_cdu1_fan1,
#ahu6_cdu1_fan2,
#ahu6_cdu1_fan3,
#ahu6_cdu1_fan4,
#ahu6_cdu1_fan5,
#ahu6_cdu1_fan6,
#ahu6_cdu2_fan1,
#ahu6_cdu2_fan2,
#ahu6_cdu2_fan3,
#ahu6_cdu2_fan4,
#ahu6_cdu2_fan5,
#ahu6_cdu2_fan6,
#ahu6_cdu3_fan1,
#ahu6_cdu3_fan2,
#ahu6_cdu3_fan3,
#ahu6_cdu3_fan4,
#ahu6_cdu3_fan5,
#ahu6_cdu3_fan6,
#ahu6_cdu4_fan1,
#ahu6_cdu4_fan2,
#ahu6_cdu4_fan3,
#ahu6_cdu4_fan4,
#ahu6_cdu4_fan5,
#ahu6_cdu4_fan6,
#ahu9_cdu1_fan1,
#ahu9_cdu1_fan2,
#ahu9_cdu1_fan3,
#ahu9_cdu1_fan4,
#ahu9_cdu1_fan5,
#ahu9_cdu1_fan6,
#ahu9_cdu2_fan1,
#ahu9_cdu2_fan2,
#ahu9_cdu2_fan3,
#ahu9_cdu2_fan4,
#ahu9_cdu2_fan5,
#ahu9_cdu2_fan6,
#ahu9_cdu3_fan1,
#ahu9_cdu3_fan2,
#ahu9_cdu3_fan3,
#ahu9_cdu3_fan4,
#ahu9_cdu3_fan5,
#ahu9_cdu3_fan6,
#ahu9_cdu4_fan1,
#ahu9_cdu4_fan2,
#ahu9_cdu4_fan3,
#ahu9_cdu4_fan4,
#ahu9_cdu4_fan5,
#ahu9_cdu4_fan6,
#ahu10_cdu1_fan1,
#ahu10_cdu1_fan2,
#ahu10_cdu1_fan3,
#ahu10_cdu1_fan4,
#ahu10_cdu1_fan5,
#ahu10_cdu1_fan6,
#ahu10_cdu2_fan1,
#ahu10_cdu2_fan2,
#ahu10_cdu2_fan3,
#ahu10_cdu2_fan4,
#ahu10_cdu2_fan5,
#ahu10_cdu2_fan6,
#ahu10_cdu3_fan1,
#ahu10_cdu3_fan2,
#ahu10_cdu3_fan3,
#ahu10_cdu3_fan4,
#ahu10_cdu3_fan5,
#ahu10_cdu3_fan6,
#ahu10_cdu4_fan1,
#ahu10_cdu4_fan2,
#ahu10_cdu4_fan3,
#ahu10_cdu4_fan4,
#ahu10_cdu4_fan5,
#ahu10_cdu4_fan6
 {
    animation: fanRotate 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
} */
