.table {
    position: relative;
    width: 831.5px;
    max-height: 950px;
    margin: 4px 0px 0px 544.25px;
    overflow: auto;
}

#tableHeder {
    position: fixed;
    background: #f5bf6d;
}

#table {
    margin-top: 33px;
}

.button-export {
    position: relative;
    background-color: #4CAF50;
    /* Green */
    height: 35px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 0px 8px 545px;
    cursor: pointer;
}