@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1582 {
  background-color: #22741d;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: times, "Times New Roman";
  font-size: 1em;
  font-size: 12px;
  line-height: 1em;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 173px;
  height: 30px;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #22741d;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #22741d;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #22741d;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}

.snip15821 {
  background-color: red;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: times, "Times New Roman";
  font-size: 1em;
  font-size: 12px;
  line-height: 1em;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 173px;
  height: 30px;
}

.snip15821:before,
.snip15821:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip15821:before {
  border-color: red;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip15821:after {
  border-bottom-width: 2px;
  border-color: red;
  bottom: -5px;
  right: 0px;
}

.snip15821:hover,
.snip15821.hover {
  background-color: red;
}

.snip15821:hover:before,
.snip15821.hover:before,
.snip15821:hover:after,
.snip15821.hover:after {
  height: 100%;
  width: 100%;
}
