#dataRefLowline1{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
    left: 45px;
}
#dataRefLowline2{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
    left: 260px;
}
#dataRefLowline3{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
   left: 460px;
}
#dataRefLowline4{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
  left: 665px;
}
#dataRefLowline5{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
     left:873px;
}
#dataRefLowline6{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
  left:1079px;
}
#dataRefLowline7{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 142px;
    left: 1300px;
}
#dataRefLowline8{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
    left: 45px;
}
#dataRefLowline9{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
    left: 260px;
}
#dataRefLowline10{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
   left: 460px;
}
#dataRefLowline11{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
  left: 665px;
}
#dataRefLowline12{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
     left:873px;
}
#dataRefLowline13{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
  left:1079px;
}
#dataRefLowline14{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
    left: 1300px;
}
#dataRefLowline15{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
    left: 1516px;
}
#dataRefLowline16{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
       top: 650px;
 left: 1686px;
}
/* data PRint */
#dataPrinterline1{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
    left: 45px;
}#dataPrinterline2{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
    left: 260px;
}
#dataPrinterline3{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
   left: 460px;
}
#dataPrinterline4{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
  left: 665px;
}
#dataPrinterline5{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
     left:873px;
}
#dataPrinterline6{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
  left:1079px;
}
#dataPrinterline7{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 280px;
    left: 1300px;
}
#dataPrinterline8{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
    left: 45px;
}
#dataPrinterline9{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
    left: 260px;
}
#dataPrinterline10{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
   left: 460px;
}
#dataPrinterline11{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
  left: 665px;
}
#dataPrinterline12{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
     left:873px;
}
#dataPrinterline13{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 788px;
  left:1079px;
}
#dataPrinterline14{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
        top: 788px;
    left: 1300px;
}
#dataPrinterline15{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
        top: 788px;
    left: 1516px;
}
#dataPrinterline16{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
        top: 788px;
 left: 1686px;
}
#dataOutSide1{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 102px;
    left: 1759px
}
#dataOutSide2{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 210px;
    left: 1759px
}
#dataOutSide3{
    position: absolute;
    z-index: 999;
    width: 150px;
    height: 100px;
    top: 317px;
    left: 1759px
}