body {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

#start {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  margin-top: 260px;
  width: 100%;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

h1 {
  background-image: url(http://atransformedpgh.weebly.com/uploads/2/9/8/2/29829807/443271065.jpg?1401398447);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 80s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 200px;
  opacity: 0.3;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* #wrap {
  margin: 0 auto;
  width: 100%;
  position: relative;
} */

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

#viewport1 {
  position: absolute;
  width: 200px;
  height: 300px;
  overflow: hidden;
  top: 0px;
  left: 50px;
}

#smoke1 {
  position: absolute;
  width: 100px;
  height: 250px;
  background: url("http://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png")
    no-repeat;
  bottom: 150px;
  margin-left: 0px;
}

#viewport2 {
  position: absolute;
  width: 200px;
  height: 300px;
  overflow: hidden;
  top: 0px;
  left: 550px;
}

#smoke2 {
  position: absolute;
  width: 100px;
  height: 250px;
  background: url("../images/khoi.png") no-repeat;
  bottom: 150px;
  margin-left: 0px;
}

#viewport3 {
  position: absolute;
  width: 200px;
  height: 300px;
  overflow: hidden;
  top: 0px;
  left: 1050px;
}

#smoke3 {
  position: absolute;
  width: 100px;
  height: 250px;
  background: url("http://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png")
    no-repeat;
  bottom: 150px;
  margin-left: 0px;
}

#viewport4 {
  position: absolute;
  width: 200px;
  height: 300px;
  overflow: hidden;
  top: 0px;
  left: 1500px;
}

#smoke4 {
  position: absolute;
  width: 100px;
  height: 250px;
  background: url("http://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png")
    no-repeat;
  bottom: 150px;
  margin-left: 0px;
}
